@model AppUser
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mağaza - @Model.ShopName</title>
<link rel="stylesheet" href="~/css/MemberProfile/MemberProfile.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

</head>
<body>
	<div class="MemberProfileDiv">
		<div class="MemberProfileTopBarDiv">
			<div class="MemberProfileTopBar">
				<img src="~/Shopping/ShopBigImg/@Model.ShopBigImage" class="MemberProfileBigImage" style="background-color:gray" >
				<ul class="BigImageWebSiteIconUl">
					@if (@Model.ShopMemberSpecialWebSite != null)
					{
						<li class="BigImageWebSiteIconLi"><a href="@Model.ShopMemberSpecialWebSite" class="BigImageWebSiteIconA Web">www.siaz.az</a></li>

					}
					@if (@Model.ShopMemberFacebookWebSite != null)
					{
						<li class="BigImageWebSiteIconLi"><a href="@Model.MemberFacebookWebSite" class="BigImageWebSiteIconA Facebook"><i class="fa-brands fa-square-facebook"></i></a></li>

					}
					@if (@Model.ShopMemberInstagramWebSite != null)
					{
						<li class="BigImageWebSiteIconLi"><a href="@Model.ShopMemberInstagramWebSite" class="BigImageWebSiteIconA Instagram"><i class="fa-brands fa-square-instagram"></i></a></li>

					}
					@if (@Model.ShopMemberTiktokWebSite != null)
					{
						<li class="BigImageWebSiteIconLi"><a href="@Model.ShopMemberTiktokWebSite" class="BigImageWebSiteIconA Tiktok"><i class="fa-brands fa-tiktok"></i></a></li>

					}
				</ul>
			</div>

			<div class="MemberProfileFooter">
				<div class="MemberProfileFooterImgNameDiv">
					<img src="~/Shopping/ShopSmallImg/@Model.ShopSmallImage" class="MemberProfileSmallImage" alt="">
					<b class="MemberProfileFooterName">
						@Model.ShopName
						@if (@Model.ShopConfirmed == "Təsdiqləndi")
						{
							<i class="fa-solid fa-store MemberProfileConfirm"></i> <span class="Toolktip">Təsdiqləndi</span>
						}
					</b>
				</div>
			 <ul class="MemberProfileListUl">
                   
                    <li class="MemberProfileListli MemberAllProduct"> Butun Elanlar</li>
                    <li class="MemberProfileListli MemberVip">Vip Elanlar</li>
                    <li class="MemberProfileListli ViewPopular">En Cox Baxilan</li>
                    <li class="MemberProfileListli MemberPremium">Comment Elanlar</li>
                    <li class="MemberProfileListli MemberDescription">Haqqinda</li>
                  </ul>
				 <div class="MemberProfileContentAllProduct MemberAllProductDiv">
					@await Component.InvokeAsync("_InShopAllProducts",new{id=ViewBag.UserId})
            
          </div>
        <div class="MemberProfileContentVip MemberVipDiv" style="display:none">
					@await Component.InvokeAsync("_InShopVipProduct",new{id=ViewBag.UserId})
        </div>
        <div class="MemberProfileContentPopular MemberPopularDiv" style="display:none">
            <h6>Burasi Popular Elanlar</h6>
        </div>
		 <div class="MemberProfileContentPremium MemberPremiumDiv" style="display:none">
            <h6>Burasi Comment Elanlar</h6>
        </div>
				<div class="MemberProfileContentDescription MemberDescriptionDiv">
					<div class="DescriptionDefault">
						<ul class="Default">
							<li>
								<h4>Haqqinda</h4>
								<p class="DescriptionP">@Model.ShopDescription</p>
							</li>
							<li class="MemberProfileShopAdress">
    <h6>Adress</h6>
    <p>Qara Qarayev Metro </p>
</li>
							<li>
								<h4>Web Saytlar</h4>
								@if (@Model.ShopMemberSpecialWebSite != null)
								{
									
							<li>Web Saytiniz<a href="@Model.ShopMemberSpecialWebSite">@Model.ShopMemberSpecialWebSite</a></li>

								}
								@if (@Model.ShopMemberFacebookWebSite != null)
								{
									
													<li>Facebook<a href="@Model.ShopMemberFacebookWebSite">@Model.ShopMemberFacebookWebSite</a></li>

								}
								@if (@Model.ShopMemberInstagramWebSite != null)
								{
									
													<li>Instagram<a href="@Model.ShopMemberInstagramWebSite">@Model.ShopMemberInstagramWebSite</a></li>

								}
								@if (@Model.ShopMemberTiktokWebSite != null)
								{
									
													<li>TikTok<a href="@Model.ShopMemberTiktokWebSite">@Model.ShopMemberTiktokWebSite</a></li>

								}

							</li>

						</ul>
						@if (User.Identity.IsAuthenticated)
						{
							@await Html.PartialAsync("~/Views/Shop/ShopDescriptionUpdate.cshtml")
						}
					</div>

@if(User.Identity.IsAuthenticated){
					@await Component.InvokeAsync("_ShopMemberIsAuthenticated",new{id=@Model.Id})

					}				</div>


			</div>

		</div>


	</div>
    <script src="~/js/MemberProfile/MemberProfile.js"></script>
</body>
</html>
