@model IEnumerable<Product>
@{
    ViewData["Title"] = "AllProducts";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="mr-4 ml-4">
	<button type="button" class="btn btn-text" style="float:right" data-toggle="modal" data-target="#exampleModalLong">
  <i class="fa-solid fa-filter"></i>
</button>
<h5>Axtarilan Elan Sayisi(@Model.Count())</h5>
<div class="form-group ">
		

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Elan Filter Paneli</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		          <form asp-action="Search" asp-controller="Product" asp-area="Admin" method="get"  id="filters" class="form-group">
						<label>Şəhər Adı</label>
					<select name="City" asp-items="ViewBag.City" class="form-control">
						<option value=""><b> Şəhər</b></option>
					</select>
					<label>Elan Adı</label>
					<input type="text" name="ProductName" class="form-control" />
						<label>Tarixdən</label>
					<input type="date" class="form-control" />
						<label>Tarixə Kimi</label>
					<input type="date" class="form-control" />
						<label>Qiymət Min</label>
						<input type="number" name="PriceMin" value="" class="form-control"/>
							<label>Qiymət Max</label>
						<input type="number" value="" name="PriceMax" class="form-control"/>
					<label>Elan Status</label>
					<select name="Status"  class="form-control">
						<option></option>
						<option value="Aktiv">Aktiv</option>
						<option value="DeAktiv">Qeyri Aktiv</option>
					</select>
					<br />
					<button class="form-control"><i class="fas fa-search" style="margin-right:5px"></i>Axtar</button>
				
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
<table class="table table-bordered"> 
	<tr>
		<th>Elan Nömrəsi</th>
		<th>Şəkil</th>
		<th>Elan Adı</th>
		<th>Sahibi</th>
			<th>Qiymet</th>
		<th>Şəhər</th>
		<th>Tarixi</th>
		<th>Status</th>
		<th></th>
		<th>Vip</th>
		<th>Premium</th>
		<th>Elanı Sil</th>
    </tr>
	@foreach (var item in Model)
	{
		@if(item.ProductStatus == "Aktiv")
		{
			<tr class="table table-success">
		<td>@item.ProductId</td>
		<td><img src="~/Shopping/ProductImg/@item.Image1" style="width:70px"/></td>
		<td>@item.ProductName</td>
		<td>@item.ProductOwnerName</td>
			<td>@item.Price</td>
		<td>@item.City</td>
		<td>@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</td>
		<th class="text text-success">@item.ProductStatus</th>
		
		<td>
			<form asp-action="ProductStatus" asp-controller="Product" asp-area="Admin" method="post">
			<input type="hidden" name="ProductId" value="@item.ProductId" />
					<input type="hidden" name="ProductStatus" value="DeAktiv" />
				<button class="btn btn-outline-danger">DeAktiv Et</button>
		</form>
		</td>

		<td>@item.Vip</td>
		<td>@item.Premium</td>
	
		<td><a class="btn btn-outline-danger">Sil</a></td>
    </tr>
		}
		@if(item.ProductStatus == "DeAktiv")
		{
			<tr class="table table-danger">
		<td>@item.ProductId</td>
		<td><img src="~/Shopping/ProductImg/@item.Image1" style="width:70px"/></td>
    	<td>@item.ProductName</td>
		<td>@item.ProductOwnerName</td>
			<td>@item.Price</td>
		<td>@item.City</td>
		<td>@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</td>
		<th class="text text-danger">@item.ProductStatus</th>
		
		<td>
			<form asp-action="ProductStatus" asp-controller="Product" asp-area="Admin" method="post">
			<input type="hidden" name="ProductId" value="@item.ProductId" />
					<input type="hidden" name="ProductStatus" value="Aktiv" />
				<button class="btn btn-outline-success">Aktiv Et</button>
		</form>
		</td>

		<td>@item.Vip</td>
		<td>@item.Premium</td>
		<td><a class="btn btn-outline-danger">Sil</a></td>
    </tr>
		}
		

	}

</table>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
			   jQuery(document).ready(function($){
	          $("#filters").submit(function(){
				  $(this).find(":input").filter(function(){return !this.value;}).attr("disabled","disabled");
			 return true;
			  });
			  $("form").find(":input").prop("disabled",false);
			   });


</script>