@model IEnumerable<EntityLayer.Concrete.Product>
   

    <h5>Mağazada olan Bütün Elanlar</h5>
      <div class="row">
          
  @foreach(var x in Model){

             <div class="card ProductListCard">
                <a href="#" class="ProductListSelectIcon"><i class="fa fa-heart ProductListSelectIcon"></i></a>
                <a href="/Product/Detail/@x.ProductId" class="DefaultProductList">
                    <img class="Img" src="~/Shopping/ProductImg/@x.Image1" alt="">
                        <b class="Shop">Mağaza</b>
                         @if (@x.Vip == "Təsdiqləndi")
                {
                    <img class="Vip" src="~/Shopping/VipPremium/Vip.png" alt="">
                }
                @if (@x.Premium == "Təsdiqləndi")
                {
                 <img class="Premium" src="~/Shopping/VipPremium/Premium.png" alt="">
 
                }
                   <ul class="ProductListFooterDiv">
                         <li class="Price"><b><b>@x.Price</b></b><span></span></li>
                     @if (x.ProductName.Length>23)
					{
						<li><b>@x.ProductName.Substring(0,x.ProductName.Substring(0,23).LastIndexOf(" "))...</b></li>
					}else{
						<li><b>@x.ProductName</b></li>
					}
                      <li> Baxış: <i class="fa-solid fa-eye"></i>  
                @await Component.InvokeAsync("_ProfileProductListViewCount",new{id=x.ProductId})    
                     
					</li>
                    <li class="CityDate"><b>@x.City</b>               @(((DateTime)x.Date).ToString("dd-MMM-yyyy"))</li>
                     </ul>
                    </a>
            </div>
             }
  </div>
